/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules squares */
.ex_squares {
    margin: 10%;
}

.square {
    width: 200px;
    height: 200px;
    }

.square:not(.sq1) {
    background-color: red;
}

.ex_squares>div {
    margin-bottom: 20px;
    height: 250px;
}

    /* esercizio 1 */
.sq1 {
    border: 2px solid red;
    transition: background 3s;
}

.sq1:hover {
    background-color: red;
}

/* esercizio 2 */
.sq2 {
    transition:width 1s;
}

.sq2:active {
    width: 400px;
}

/* esercizio 3 */
.sq3 {
    transition:border-radius 5s;
}

.sq3:hover {
    border-radius: 100%;
}

/* esercizio 4 */
.sq4 {
    transition:opacity 5s;
}

.sq4:hover {
    opacity: 0;
}

/* esercizio 5 */
.sq5 {
    transition:width ;
    transition:height ;
}

.sq5:hover {
    width: 250px;
    height: 250px;
}

.sq5:active {
    width: 50px;
    height: 50px;
}

/* common rules pictures */
.ex_pics {
    margin: 10%;
}

.ex_pics>div {
    margin-bottom: 20px;
}

/* esercizio 6 */
.pic1 {
    transition:filter ;
}

.pic1:hover {
    filter: grayscale(100%);
}

/* esercizio 7 */
.pic2 {
    transition: filter 7s;
}

.pic2:hover {
    filter: grayscale(100%);
}

